.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767px) {
    .container {
      max-width: none; } }

.main-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px;
  background-color: #3cc395;
  border-radius: 4px;
  font-family: 'Bebas Neue', sans-serif;
  transition: background .2s linear; }
  .main-btn:hover {
    background: #1238dd; }

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0 0 4px; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-wrapper {
  min-height: 100%;
  overflow: hidden; }

.nav-toggle {
  display: none;
  background: none;
  border: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); }
  .nav-toggle:focus {
    outline: none; }
  .nav-toggle__item {
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: relative;
    font-size: 0;
    color: transparent; }
    .nav-toggle__item:after, .nav-toggle__item:before {
      content: " ";
      display: block;
      width: 100%;
      height: 3px;
      background: #fff;
      position: absolute;
      right: 0;
      z-index: 1;
      transition: transform .2s linear; }
    .nav-toggle__item:after {
      top: -8px; }
    .nav-toggle__item:before {
      bottom: -8px; }
  .nav-toggle.active .nav-toggle__item {
    background: none; }
    .nav-toggle.active .nav-toggle__item:after {
      transform-origin: left top;
      transform: rotate(45deg) translateX(-3px); }
    .nav-toggle.active .nav-toggle__item:before {
      transform-origin: left bottom;
      transform: rotate(-45deg) translateX(-3px); }
  @media (max-width: 767px) {
    .nav-toggle {
      display: block; } }

.slick-slide:focus {
  outline: none; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 45px; }
  .slick-dots li {
    margin: 0 4px; }
    .slick-dots li.slick-active button {
      background: #79dacf; }
    .slick-dots li button {
      cursor: pointer;
      border: 0;
      font-size: 0;
      background: #fff;
      width: 12px;
      height: 12px;
      border-radius: 50%; }
      .slick-dots li button:focus {
        outline: none; }

.header {
  background: #fff; }
  @media (max-width: 767px) {
    .header .container {
      position: relative; } }
  .header-top {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-top__logo {
      font-size: 49px;
      color: #3cc3b5;
      font-family: 'Lobster', sans-serif; }
    .header-top__search {
      position: relative;
      width: 100%;
      max-width: 435px;
      flex-grow: 1; }
      .header-top__search .search {
        width: 100%;
        height: 32px;
        background: transparent;
        border: 1px solid #e1e1e1;
        padding: 0 8px; }
        .header-top__search .search:focus {
          outline: none; }
    .header-top__iccon {
      width: 20px;
      height: 20px;
      fill: #e3e3e3; }
    .header-top__img {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 55%;
      right: 5px;
      z-index: 5;
      transform: translateY(-50%);
      background: none;
      border: 0; }
      .header-top__img:focus {
        outline: none; }
    .header-top__cart {
      display: flex;
      align-items: center; }
    .header-top__price {
      margin-left: 17px; }
      .header-top__price span {
        font-size: 33px;
        color: #a1a1a1;
        font-family: 'Bebas Neue', sans-serif; }
    @media (max-width: 767px) {
      .header-top__search {
        margin: 0 25px; } }
    @media (max-width: 575px) {
      .header-top {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding-bottom: 10px; }
        .header-top__search {
          margin: 15px 0;
          max-width: 235px; } }
  .header__main {
    background: #4ccfc1;
    padding: 12px 0;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.8); }
    .header__main.fixed {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      transform: translate3d(0, 0, 0); }
    @media (max-width: 767px) {
      .header__main {
        padding: 25px 0; } }
  .header-menu__list {
    display: flex;
    justify-content: flex-end; }
  .header-menu__item {
    display: flex;
    align-items: center; }
    .header-menu__item:last-child:after {
      display: none; }
    .header-menu__item:after {
      content: " ";
      display: inline-block;
      width: 2px;
      height: 22px;
      background: #fff;
      margin: 0 20px 0 21px; }
  .header-menu__link {
    font-size: 21px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 19px;
    text-transform: uppercase;
    transition: color 1s linear; }
    .header-menu__link:hover {
      color: #ddf321; }
  @media (max-width: 1199px) {
    .header-menu__link {
      font-size: 19px; } }
  @media (max-width: 992px) {
    .header-menu__list {
      justify-content: flex-start; }
    .header-menu__item:after {
      margin: 0 10px 0 9px; } }
  @media (max-width: 767px) {
    .header-menu {
      display: none; }
      .header-menu.active {
        display: block; }
      .header-menu__list {
        flex-direction: column; }
      .header-menu__item + .header-menu__item {
        margin-top: 4px; }
      .header-menu__item:after {
        display: none; } }

.intro {
  padding: 60px 0 30px;
  background: #38c5ba; }
  .intro-item {
    display: flex;
    align-items: center;
    justify-content: center; }
    .intro-item__img a:focus {
      outline: none; }
    .intro-item-content {
      width: 100%;
      max-width: 370px;
      margin-left: 90px; }
      .intro-item-content__title {
        font-size: 61px;
        color: #fff;
        line-height: 54px;
        font-family: 'Bebas Neue', sans-serif;
        margin-bottom: 15px; }
      .intro-item-content__description {
        color: #fff;
        line-height: 28px;
        margin-bottom: 25px; }
      .intro-item-content__btn {
        margin-top: 25px; }
        .intro-item-content__btn .btn {
          display: inline-block;
          vertical-align: top;
          color: #fff;
          font-size: 27px;
          text-align: center;
          font-family: 'Bebas Neue', sans-serif;
          padding: 4px 25px;
          border: 3px solid #fff;
          text-transform: uppercase;
          border-radius: 10px;
          transition: color .2s linear,transform .2s linear; }
          .intro-item-content__btn .btn:hover {
            color: #ddf321;
            transform: translateY(-4px); }
  @media (max-width: 767px) {
    .intro-item-content__title {
      font-size: 35px;
      line-height: 37px;
      margin-bottom: 10px; }
    .intro-item-content__description {
      line-height: 24px;
      margin-bottom: 10px; }
    .intro-item-content__btn {
      margin-top: 15px; } }
  @media (max-width: 575px) {
    .intro {
      padding: 30px 0 15px; }
      .intro__item {
        flex-direction: column; }
      .intro-item-content {
        margin: 0 auto 25px auto;
        order: 1; }
      .intro-item__img {
        order: 2;
        text-align: center; } }

.categories {
  background: #fff;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.13); }
  .categories__slider {
    display: flex; }
  .categories-item {
    display: flex;
    align-items: center;
    height: 200px; }
    .categories-item:after {
      content: " ";
      display: block;
      width: 2px;
      height: 100%;
      background: #e7e7e7;
      margin: 0 25px 0 50px; }
    .categories-item:last-child:after {
      display: none; }
    .categories-item-content__title {
      font-size: 27px;
      color: #afafaf;
      line-height: 25px;
      text-transform: uppercase;
      font-family: 'Bebas Neue', sans-serif;
      margin-bottom: 15px; }
  @media (min-width: 993px) {
    .categories-item-content {
      margin-left: 50px; }
      .categories-item-content_sm {
        margin-left: 20px; } }
  @media (max-width: 992px) {
    .categories__slider {
      flex-direction: column; }
    .categories-item:after {
      display: none; }
    .categories-item__img {
      margin-right: 15px;
      flex: 0 0 33.33333%;
      position: relative;
      min-height: 150px; }
      .categories-item__img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain; } }
  @media (max-width: 575px) {
    .categories-item__img img {
      width: 185px;
      height: 160px;
      position: static; }
    .categories-item-content__title {
      line-height: 31px; } }

.products {
  background: #fff; }
  .products-header {
    background: #3fc6b4;
    height: 65px;
    display: flex;
    align-items: center; }
    .products-header__title {
      font-size: 31px;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: normal; }
      @media (max-width: 767px) {
        .products-header__title {
          font-size: 27px; } }
  .products__inner {
    padding: 45px 0 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .products__column {
    flex: 0 1 33.33333%;
    padding: 0 15px;
    margin-bottom: 35px; }
    @media (max-width: 767px) {
      .products__column {
        flex: 0 1 50%; } }
    @media (max-width: 575px) {
      .products__column {
        flex: 0 1 100%;
        max-width: 300px;
        margin: 0 auto 25px auto; } }

.item-products {
  border: 1px solid #e4e4e4;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  height: 100%;
  padding: 25px 0; }
  @media (min-width: 768px) {
    .item-products {
      margin-left: 25px; } }
  .item-products__img {
    display: block;
    text-align: center;
    margin-bottom: 7px; }
  .item-products__title {
    text-align: center;
    font-size: 27px;
    color: #afafaf;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal; }
  .item-products__footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    .item-products__footer:after {
      content: " ";
      display: block;
      width: 100%;
      height: 5px;
      background: #3cc395;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2; }
  .item-products__price {
    font-size: 27px;
    color: #afafaf;
    font-family: 'Bebas Neue', sans-serif; }
  .item-products__button {
    margin-left: 12px; }

.footer {
  background: #3cc3b5; }
  @media (min-width: 768px) {
    .footer-top {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .footer-top {
      padding: 20px 0; } }
  @media (max-width: 690px) {
    .footer-top {
      padding: 20px 0 0; } }
  .footer-top__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .footer-top__column {
    flex: 0 1 25%;
    padding: 0 15px; }
    @media (max-width: 690px) {
      .footer-top__column {
        flex: 0 1 50%; } }
  .footer-bottom {
    padding: 15px 0;
    background: #2da89b; }
    .footer-bottom__copyright {
      font-size: 15px;
      color: #fff;
      text-align: center; }

@media (max-width: 690px) {
  .item-footer {
    text-align: center;
    margin-bottom: 20px; } }

.item-footer__title {
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  margin-bottom: 20px; }
  @media (max-width: 690px) {
    .item-footer__title {
      margin-bottom: 10px; } }

.item-footer__item + .item-footer__item {
  margin-top: 15px; }
  @media (max-width: 690px) {
    .item-footer__item + .item-footer__item {
      margin-top: 9px; } }

.item-footer__link {
  font-size: 15px;
  color: #fff;
  position: relative; }
  .item-footer__link:after {
    content: " ";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 4px;
    background: #3d876e;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: width .5s linear; }
  .item-footer__link:hover:after {
    width: 100%; }
