@import "vars.scss";
// container
@import "grid.scss";
// mixin
@import "mixin.scss";
// btn
@import "btn.scss";

body{ 
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color:$main-color;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


a{
    text-decoration: none;
}

p{
    margin: 0 0 4px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-wrapper{
    min-height: 100%;
    overflow: hidden;
}

// Burger

@import "burger.scss";

// Slick

@import "slick.scss";

// Blocks

@import "blocks/header";
@import "blocks/intro";
@import "blocks/categories";
@import "blocks/products";
@import "blocks/footer";