.footer{
    background: #3cc3b5;
    &-top{
        padding: 40px 0;
        &__row{
            display: flex;
            align-items: center;
            margin: 0 -15px;
        }
        &__column{
            flex:0 1 25%;
            padding: 0 15px;
        }
    }
    &-bottom{
        padding: 15px 0;
        background: #2da89b;
        &__copyright{
            font-size: 15px;
            color:$main-color;
            text-align: center;
        }
    }
}

.item-footer{
    &__title{
        font-size: 27px;
        color:$main-color;
        text-transform: uppercase;
        @include Bn();
        font-weight: normal;
        margin-bottom: 20px;
    }
    &__menu{

    }
    &__list{

    }
    &__item{
        & + &{
            margin-top: 15px;
        }
    }
    &__link{
        font-size: 15px;
        color:$main-color;
        position: relative;
        &:after{
            content: " ";
            display: block;
            height: 3px;
            width: 0;
            margin-top: 4px;
            background: #3d876e;
            position: absolute;
            top:100%;
            left:0;
            z-index: 1;
            transition: width .5s linear;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
    }
}