.intro{
    padding: 60px 0 30px;
    background:#38c5ba;
    &__slider{

    }
    &__item{
    
    }
    &-item{
        display: flex;
        justify-content: center;
        &-content{
            width: 100%;
            max-width:370px;
            margin-left: 90px;
            &__title{
                font-size: 61px;
                color:$main-color;
                line-height: 54px;
                @include Bn();
                margin-bottom: 15px;
            }
            &__description{
                color:$main-color;
                line-height: 28px;
                margin-bottom: 25px;
            }
            &__btn{
                margin-top: 25px;
                .btn{
                    display: inline-block;
                    vertical-align: top;
                    color:$main-color;
                    font-size: 27px;
                    text-align: center;
                    @include Bn();
                    padding: 4px 25px;
                    border: 3px solid $main-color;
                    text-transform: uppercase;
                    border-radius:10px;
                    transition: color .2s linear,transform .2s linear;

                    &:hover{
                        color:#ddf321;
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }
}